.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding:20px;
  text-align: center;
  border-radius: 15px;
  border-left : 2px solid orange;
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
}